body{
	padding-bottom: 70px;
}

.navbar{
	padding: 10px;
}

#content{
	padding: 15px;
}

#img-logo{
	width: 50px;
}

.error{
	font-size: 0.9em;
	color: red;
}

.field{
	margin: 5px 0;
}